@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/woff/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/woff/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/woff/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/woff/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/woff2/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/woff2/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/woff2/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/woff2/Roboto-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/woff/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/woff/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/woff/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/woff/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/woff2/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/woff2/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/woff2/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/woff2/Roboto-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto',  sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 130%;
  color: #333B41;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.button {
  display: inline-block;
  min-width: 29.8rem;
  padding: 1.6rem 0;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  line-height: 140%;
  text-transform: uppercase;
  background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 0.5rem;
  color: #fff;
}

.button:hover {
  background: #4B9200;
}

.button-primary {
  border-radius: 2.5rem;
}

.button-primary:hover {
  background: #4B9200;
}

.logo {
  position: relative;
  display: inline-block;
  max-width: 82px;
  font-size: 19.0145px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #fff;
  border: 1.18841px solid #fff;
}

.logo::before {
  content: '';
  width: 12.03px;
  height: 20.98px;
  position: absolute;
  left: 11.8%;
  top: 42.3%;
  background-image: url("assets/images/icons/bamboo.svg");
  background-repeat: no-repeat;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 119rem;
}

.header {
  background-color: #000;
  padding: 1.4rem 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  margin-left: 6.3rem;
}

.nav-item {
  display: inline-block;
}

.nav-item + li {
  margin-left: 5.8rem;
}

.nav-link:hover {
  color: #F9804B;
}

.link-active {
  color: #F9804B;
  cursor: default;
}

.hero {
  padding: 1.2rem 0 10rem;
  background-image: url("assets/images/jpg/panda_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__inner {
  margin-left: auto;
  margin-right: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__ellipse {
  margin-bottom: 6.5rem;
  position: relative;
  width: 46.5rem;
  height: 46.5rem;
  background: -o-linear-gradient(336.04deg, #F9804B 1.49%, #FE9013 101.44%);
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
}

.hero__titel {
  position: absolute;
  left: 7rem;
  max-width: 50rem;
  font-size: 10.6rem;
  font-weight: 700;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.hero__titel span {
  color: #FFEE2E;
}

.hero__btm {
  margin-left: 20rem;
}

.backstage {
  padding: 14rem 0 7rem;
  background: url(assets/images/png/flower_foto1.png) right -15px top 12px no-repeat;
}

.backstage__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backstage__box {
  max-width: 46.5rem;
}

.backstage__titel {
  margin-bottom: 2rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 120%;
}

.backstage__info {
  margin: 5.4rem 0 3.4rem;
  font-size: 2.4rem;
  line-height: 120%;
}

.pets {
  padding-bottom: 10rem;
  background: url(assets/images/png/palm_foto.png) left -30px bottom 0 no-repeat, url(assets/images/png/strelitzia_1.png) right 0 bottom 0 no-repeat;
}

.pets__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets__list {
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__item {
  margin-bottom: 2rem;
  border: 0.1rem solid #F9804B;
  border-radius: 0.5rem;
  color: #000;
}

.pets__info {
  padding: 0.6rem 1.2rem 1.4rem 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-info__item {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 140%;
}

.item-info__subtitel {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 120%;
}

.panda-active {
  position: relative;
}

.panda-active span {
  display: none;
  position: absolute;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  left: 20%;
  top: 90%;
}

.panda-active:hover span {
  display: inline-block;
  top: 40%;
}

.friends {
  padding: 7rem 0 10rem;
  background: -o-linear-gradient(134.25deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.friends__inner {
  padding: 4.1rem 5.9rem 5.9rem 9.9rem;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 20px;
}

.friends__titel {
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #F9804B;
}

.friends__subtitel {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 120%;
}

.friends__info {
  margin-bottom: 1rem;
  font-weight: 500;
}

.friends__text {
  margin-bottom: 6rem;
  max-width: 87.9rem;
}

.friends__text span {
  position: relative;
}

.friends__text span::before {
  content: '';
  height: 1px;
  width: 18.2rem;
  position: absolute;
  bottom: -1.2px;
  background-color: #F9804B;
}

.friends__works {
  margin-bottom: 4rem;
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
}

.friends__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 7rem;
}

.friends__item + li {
  margin-left: 3rem;
}

.friends__imag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  width: 168px;
  height: 168px;
  background-color: #fff;
  border: 1px solid #F9804B;
  border-radius: 5px;
}

.friends__stage {
  max-width: 16.8rem;
  line-height: 140%;
}

.item-arrow {
  padding-right: 9.9rem;
  position: relative;
}

.item-arrow::before {
  content: '';
  position: absolute;
  right: 0;
  top: 25%;
  width: 69px;
  height: 35.08px;
  background-image: url("assets/images/icons/arow-r.svg");
}

.testimonials {
  padding: 14rem 0 18rem;
  background: url(assets/images/png/leav_foto.png) bottom -134px right no-repeat;
}

.testimonials__titel {
  margin-bottom: 4.7rem;
  font-size: 3.6rem;
  text-align: center;
  font-weight: 400;
}

.testimonials__inner {
  margin-bottom: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__list {
  margin-bottom: 2.2rem;
}

.testimonials__item {
  position: relative;
  display: inline-block;
  max-width: 26.8rem;
  max-height: 39.1rem;
  padding: 1.5rem 1.5rem 1.9rem 1.6rem;
  background-clip: padding-box;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: #F1F3F2;
}

.testimonials__item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: -o-linear-gradient(45deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), #e0d8f0, #eaf7fe, #eaf7fe);
  background: linear-gradient(45deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), #e0d8f0, #eaf7fe, #eaf7fe);
}

.testimonials__item + li {
  margin-left: 2.3rem;
}

.testimonials-item__avatr {
  position: relative;
  padding-left: 47px;
}

.testimonials-item__avatr::before {
  content: '';
  position: absolute;
  left: 0;
  width: 37px;
  height: 37px;
  background-image: url("assets/images/icons/user_icon.svg");
  background-repeat: no-repeat;
}

.testimonials-item__avatr span {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
  color: #767474;
}

.testimonials-item__name {
  font-weight: 700;
  line-height: 19.2px;
}

.testimonials-item__from {
  padding-right: 1.1rem;
  position: relative;
}

.testimonials-item__from::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #767474;
  right: 0;
  top: 40%;
  font-size: 1.5rem;
}

.testimonials-item__swech {
  min-height: 0.8rem;
  background-color: #F1F3F2;
  width: 60rem;
  position: relative;
  background-clip: padding-box;
  border: 0.5px solid transparent;
  border-radius: 5px;
}

.testimonials-item__swech:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: -0.5px;
  border-radius: inherit;
  background: -o-linear-gradient(45deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), #e0d8f0, #eaf7fe, #eaf7fe);
  background: linear-gradient(45deg, rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), #e0d8f0, #eaf7fe, #eaf7fe);
}

.testimonials-item__swech span {
  position: absolute;
  display: inline-block;
  height: 6px;
  width: 115px;
  background-color: #F9804B;
  border-radius: 5px;
  cursor: pointer;
}

.testimonials-item__text {
  font-size: 1.5rem;
  line-height: 120%;
  max-height: 30.9rem;
  overflow: hidden;
}

.footer {
  padding: 4rem 0 5rem;
  background-color: #111115;
  color: #fff;
}

.footer__inner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 3.6rem;
}

.footer__inner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 4.4rem 0 5rem;
}

.footer__inner-item + li {
  margin-top: 1rem;
}

.footer__inner-item a {
  display: inline-block;
  padding-left: 3.8rem;
  position: relative;
}

.footer__inner-item a::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #767474;
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
}

.footer__inner-designed {
  max-width: 23.5rem;
  line-height: 2.08rem;
  font-weight: 300;
}

.footer__inner-designed span {
  display: block;
  margin-top: 1rem;
}

.footer__form-titel {
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  line-height: 120%;
  font-weight: 400;
}

.footer__form-email {
  padding: 1rem 0.7rem 1rem 1rem;
  margin-right: 1rem;
  background-color: transparent;
  border: 1px solid #F9804B;
}

.footer__form-btn {
  padding: 0.9rem 3.9rem;
}

.cosiac-facebook::before {
  background-image: url("assets/images/icons/fill-212.svg");
}

.cosiac-twitter::before {
  background-image: url("assets/images/icons/fill-173.svg");
}

.cosiac-instagram::before {
  background-image: url("assets/images/icons/fill-167.svg");
}

.cosiac-youtube::before {
  background-image: url("assets/images/icons/fill-214.svg");
}

.panda-main {
  position: relative;
}

.panda-main__inner {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 11.2rem 3rem 50rem 3rem;
}

.said-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: -o-linear-gradient(134.25deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  max-width: 9.9rem;
  border-radius: 0.5rem;
  padding: 1.6rem 1rem 1.6rem 0.9rem;
}

.said-bar__item {
  width: 8rem;
  height: 8rem;
  border: 1px solid #F9804B;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.said-bar__item + li {
  margin-top: 1rem;
}

.said-bar__item:hover {
  border-color: #4B9200;
}

.said-bar__item:hover svg path {
  fill: #4B9200;
}

.said-bar__item:hover svg circle {
  stroke: #4B9200;
}

.panda-hero {
  padding: 4rem 0 10rem;
}

.panda-hero__titel {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 120%;
  font-size: 4.8rem;
}

.panda-hero__slider {
  padding-top: 8rem;
  position: relative;
}

.panda-hero__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.panda-hero__slider-left {
  left: -82px;
  top: 50%;
}

.panda-hero__slider-right {
  right: -82px;
  top: 50%;
}

.panda-hero__slider-left, .panda-hero__slider-right {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9804B;
  cursor: pointer;
}

.panda-hero__slider-left:hover, .panda-hero__slider-right:hover {
  background-color: #4B9200;
}

.said-bar--active {
  border-color: #4B9200;
}

.said-bar--active svg path {
  fill: #4B9200;
}

.panda-info {
  padding-bottom: 17rem;
  background: url("assets/images/png/strelitzia_2.png") left 0 bottom 0 no-repeat, url("assets/images/png/leaf_f.png") right 0 bottom -94px no-repeat;
}

.panda-info__titel {
  margin-bottom: 2rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 120%;
  color: #4B9200;
}

.panda-info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panda-info__description {
  max-width: 66.8rem;
}

.panda-info__text {
  margin-bottom: 4rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 140%;
  color: #ABABAB;
}

.panda-info__text span {
  color: #4B9200;
}

.panda-info__btn {
  margin-top: 4rem;
  padding: 1rem 2.8rem;
  line-height: 140%;
  text-align: center;
  color: #000;
  border: 1px solid #333B41;
  border-radius: 5px;
  cursor: pointer;
}

.item-info:first-child h4 {
  margin-bottom: 2rem;
}

.item-info__titel {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  line-height: 120%;
  color: #000;
}

.item-info__subtitel {
  font-size: 1.6rem;
  color: #000;
}

.info-text--mt {
  margin-top: 2rem;
}

.panda-donate {
  padding: 27.6rem 0 6rem;
  background-image: url("assets/images/jpg/panda_bg-don.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-itens: centrt;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro {
  width: 100%;
  height: 466px;
  background: url(assets/images/jpg/panda_bg.jpg) no-repeat top 44% center;
  background-size: cover;
}

.wrapper {
  max-width: 1160px;
  height: 100%;
  margin: 0 auto;
}

.intro__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.donate {
  background: -o-linear-gradient(134.25deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), -o-linear-gradient(134.25deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donate__wrapper {
  padding: 40px 0 180px;
}

.donate__info {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.donate__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
}

.donate__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #fe9013;
  margin: 46px 0 60px;
}

.donate__field {
  background: rgba(255, 255, 255, 0.52);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 38px 92px 62px;
}

.donate__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #fe9013;
  margin: 0;
}

.donate__field-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #333B41;
}

.donate__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 246px;
  width: 532px;
  margin: 0 auto;
  padding-top: 130px;
  position: relative;
}

.donate__number {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  top: 2px;
  left: -6px;
}

.donate__number_diet {
  position: relative;
  top: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333B41;
}

.donate__multiply {
  position: relative;
  top: -15px;
  left: 4px;
}

.donate__multiply_svg {
  width: 14px;
}

.donate__panda {
  position: relative;
  top: -6px;
  left: 62px;
}

.donate__panda_svg {
  width: 284px;
  height: 198.5px;
}

.donate__donate-amount {
  padding: 82px 0 40px;
  position: relative;
}

.donate__form {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 122px;
}

.donate__radio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 26px 0;
  position: relative;
}

.donate__radio-buttons_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.donate__radio-buttons_span {
  display: block;
  position: relative;
  top: 5px;
  height: 10px;
  width: 10px;
  background: #ffee2e;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.donate__radio-buttons_span::before {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.donate__radio-buttons_span::after {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.donate__dollars {
  display: grid;
  grid-template-columns: 14px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #333b41;
  padding-left: 11px;
}

.donate__dollars_svg path {
  fill: #333b41;
}

.donate__5000 {
  left: -28px;
}

.donate__2000 {
  left: -28px;
}

.donate__1000 {
  left: -28px;
}

.donate__500 {
  left: -30px;
}

.donate__250 {
  left: -30px;
}

.donate__100 {
  left: -30px;
}

.donate__50 {
  left: -32px;
}

.donate__25 {
  left: -32px;
}

.donate__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 36px;
  padding: 0px 26px 0;
}

.donate__labels_label {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 10px;
  height: 10px;
}

.donate__labels_label:hover .donate__radio-buttons_input ~ .donate__radio-buttons_span {
  background-color: #fe9013;
}

.donate__radio-buttons_input:checked ~ .donate__dollars,
.donate__radio-buttons_input:checked ~ .donate__dollars .donate__dollars_svg path {
  color: #fe9013;
  fill: #fe9013;
}

.donate__labels_label .donate__radio-buttons_input:checked ~ .donate__radio-buttons_span {
  background-color: #ffee2e;
}

.donate__labels_label .donate__radio-buttons_input:checked ~ .donate__radio-buttons_span::before {
  display: block;
  position: absolute;
  left: calc(50% - 11px);
  top: calc(50% - 11px);
  content: "";
  width: 22px;
  height: 22px;
  background: transparent;
  border: 2px solid #fe9013;
  border-radius: 50%;
  opacity: 1;
}

.donate__labels_label .donate__radio-buttons_input:checked ~ .donate__radio-buttons_span::after {
  display: block;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fe9013;
  border-radius: 50%;
  opacity: 1;
}

.donate__background {
  position: absolute;
  top: 117px;
  width: 100%;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  padding: 0px 26px 0;
  margin-top: 4px;
}

.donate__line {
  position: relative;
  top: -2px;
  display: inline-block;
  height: 2px;
  width: 99%;
  background: #72828e;
}

.donate__another-amount {
  position: relative;
}

.donate__another-amount_input {
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 2px;
  background: transparent;
  outline: none;
  padding: 16px 9px;
  color: #929699;
}

.donate__another-amount_input::-webkit-input-placeholder {
  color: #929699;
}

.donate__another-amount_input::-moz-placeholder {
  color: #929699;
}

.donate__another-amount_input:-ms-input-placeholder {
  color: #929699;
}

.donate__another-amount_input::-ms-input-placeholder {
  color: #929699;
}

.donate__another-amount_input::placeholder {
  color: #929699;
}

.donate__another-amount_svg {
  position: absolute;
  top: 17px;
  left: 249px;
  width: 10px;
  height: 20px;
  fill: #929699;
}

.donate__another-amount_input::-webkit-outer-spin-button,
.donate__another-amount_input::-webkit-inner-spin-button {
  margin: 0;
}

.donate__another-amount_input:invalid:focus {
  border: 1px solid #d31414;
  color: #d31414;
}

.donate__another-amount_input:invalid:focus ~ .donate__another-amount_svg {
  fill: #d31414;
}

.donate__another-amount_input:valid:focus::-webkit-input-placeholder {
  color: #4b9200;
}

.donate__another-amount_input:valid:focus::-moz-placeholder {
  color: #4b9200;
}

.donate__another-amount_input:valid:focus:-ms-input-placeholder {
  color: #4b9200;
}

.donate__another-amount_input:valid:focus::-ms-input-placeholder {
  color: #4b9200;
}

.donate__another-amount_input:valid:focus::placeholder {
  color: #4b9200;
}

.donate__another-amount_input:valid:focus {
  border: 1px solid #4b9200;
  color: #4b9200;
}

.donate__another-amount_input:valid:focus ~ .donate__another-amount_svg {
  fill: #4b9200;
}

.donate__another-amount_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
  position: relative;
  left: 7px;
}

.donate__another-amount_label {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.donate__another-amount_label:first-child {
  margin-right: 76px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333B41;
}

.donate__another-amount_radio-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.donate__another-amount_span {
  position: absolute;
  top: 3px;
  left: -26px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #fe9013;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.donate__another-amount_radio-input:checked ~ .donate__another-amount_span {
  background-color: #4B9200;
  border: 1px solid transparent;
}

.donate__button {
  margin: 0 auto;
}

.donate__share-text {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.donate__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
