.testimonials
  padding: 14rem 0 18rem

  &__titel
    margin-bottom: 4.7rem

    font-size: 3.6rem
    text-align: center
    font-weight: 400
  
  &__inner
    margin-bottom: 3.2rem
    display: flex
    flex-direction: column
    align-items: center
  
  &__list
    margin-bottom: 2.2rem

  &__item
    position: relative
    display: inline-block
    max-width: 26.8rem
    max-height: 39.1rem
    padding: 1.5rem 1.5rem 1.9rem 1.6rem
    background-clip: padding-box
    background-color: $white    
    border: 2px solid transparent
    border-radius: 20px
    background-color: #F1F3F2

    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      z-index: -1
      margin: -2px
      border-radius: inherit      
      background:  linear-gradient( 45deg,  rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), rgba(224, 216, 240, 1) , rgba(234, 247, 254, 1), rgba(234, 247, 254, 1))
    & + li
      margin-left: 2.3rem

  
.testimonials-item
  &__avatr
    position: relative
    padding-left: 47px

    &::before
      content: ''
      position: absolute
      left: 0
      width: 37px
      height: 37px
      background-image: url('assets/images/icons/user_icon.svg')
      background-repeat: no-repeat
    
    & span 
      font-size: 1.5rem
      line-height: 1.8rem
      font-weight: 300
      color: $gray

  &__name
    font-weight: 700
    line-height: 19.2px
  
  &__from
    padding-right: 1.1rem
    position: relative

    &::after      
      content: ''
      position: absolute
      width: 3px
      height: 3px
      border-radius: 50%
      background-color: $gray
      right: 0
      top: 40%
      font-size: 1.5rem
  &__swech  
    min-height: 0.8rem
    background-color: #F1F3F2
    width: 60rem
    position: relative
    background-clip: padding-box     
    border: 0.5px solid transparent
    border-radius: 5px

    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      z-index: -1
      margin: -0.5px
      border-radius: inherit      
      background:  linear-gradient( 45deg,  rgba(254, 189, 171, 0.74), rgba(243, 169, 248, 0.66), rgba(224, 216, 240, 1) , rgba(234, 247, 254, 1), rgba(234, 247, 254, 1))

    & span
      position: absolute
      display: inline-block
      height: 6px
      width: 115px
      background-color: $orang
      border-radius: 5px
      cursor: pointer


  &__text 
    font-size: 1.5rem
    line-height: 120%
    max-height: 30.9rem
    overflow: hidden
